:root {
  --vp-c-brand-1: #916dff;
  --vp-c-brand-2: #b098ff;
  --vp-c-brand-3: #916dff;
  --vp-c-brand-soft: #e17eff;
}

/* https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css */